<div class="card">
  <div class="card-header">
    <div class="card-title">
      <div class="title">Please fill out information below</div>
    </div>
  </div>
  <div class="card-body">
    <%= form_for [:dashboard, @post] do |f| %>
      <div class="sub-title">
        <%= f.label :title, "Title" %>
      </div>
      <div>
        <%= f.text_field :title, class: "form-control", placeholder: "Title input" %>        
      </div>
      <div class="sub-title">
        <%= f.label :description, "Content" %>
      </div>
      <div>
        <%= f.text_area :description, class: "form-control", rows: 8, placeholder: "Content input" %>        
      </div>
      <div class="sub-title">
        <%= f.label "Category" %>
      </div>
      <div>                  
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
          <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">
            <%= b.label(class: "checkbox-inline") {b.check_box + b.text} %>
          </div>
        <% end %>

        <!-- <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">
          <input type="checkbox" id="checkbox-fa-light-2" checked="">
          <label for="checkbox-fa-light-2">
            Internet
          </label>
        </div> -->        
      </div>
      <div class="sub-title">Status</div>
      <div>
        <div class="radio3 radio-check radio-inline">          
          <%= f.radio_button :status, 0 %>
          <%= f.label :status, "Disable", value: 0 %>
        </div>
        <div class="radio3 radio-check radio-inline">          
          <%= f.radio_button :status, 1 %>
          <%= f.label :status, "Enable", value: 1 %>
        </div>        
      </div>
      <div class="sub-title">
        Toggle     
      </div>
      <div>
        <input type="checkbox" class="toggle-checkbox" name="my-checkbox" checked>
      </div>
      <div class="sub-title">Manager</div>
      <div>
        <select>      
          <option value="AZ">Arizona</option>
          <option value="CO">Colorado</option>
          <option value="ID">Idaho</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NM">New Mexico</option>
          <option value="ND">North Dakota</option>
          <option value="UT">Utah</option>
          <option value="WY">Wyoming</option>      
        </select>
      </div>
      <br>
      <div class="form-action">
        <div class="sub-title">Submit</div>
        <%= f.submit "Submit", class: "btn btn-success btn-lg" %>
      </div>
    <% end %>
  </div>
</div>